<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="toon-alle-jaarlijksepremiestortingberekeningen" class="btn btn-info">Toon alle
                Berekeningen jaarlijkse premie storting</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="maak-jaarlijksepremiestortingberekening" class="btn btn-info">Maak
                De berekening jaarlijkse premie storting</a>
            </li>
          </ul>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="toon-alle-verwachtewaardepensioenberekeningen" class="btn btn-info">Toon alle
                Berekeningen verwachte waarde van de pensioenrekening</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="maak-verwachtewaardepensioenberekening" class="btn btn-info">Maak
                De berekening verwachte waarde van de pensioenrekening</a>
            </li>
          </ul>

        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>